body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
 
}
.cl {
  position: relative;
  top: 35%;
}
.cl2
{
  font-family:"Poppins";
  font-weight:bold;
  font-size:50px
}
.card
{
  text-align: center;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  background-color: black;
color: white;
}
.card-body h1 {
  color: white;
  font-weight: bold;
  font-family: "Poppins";
}
.button3{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  width: 30%;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#5270ff;
  text-align:center;
  transition: all 0.2s;
  height: 5vh;
  }
button3:hover{
  background-color:#5270ff;
  }


.back {
  color: 1E71FF;
}
.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

.messagebox__highlighter {
  height: 5vh;
}
#message {
  border: 2px solid black;
  border-radius: 19px;
  width: 52px;
  justify-content: center;
}
.box2 {
  border: 1px solid black;
  border-radius: 7px;
}
.boox {
  border: 2px solid black;
}

.ant-col.ant-col-8 a img {
  margin-left: 31%;
}

.col-3
{
  border: 1px solid black;
  width:5%
}
.log {
  color: white;
}

.ant-form-item label {
  position: relative;
 
}
.ant-form.ant-form-horizontal .ant-form-item-required {
  color: white;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.calling {
  margin-left: 63%;
}
.calling button
{
  border-radius: 50%;
}
.disconnect button
{

  width: 120px;
  height: 64px;
  color: white;
  background: red;
  border-radius: 11px;
  opacity: 1;
  font-size: 15px;
}